nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin: 0 2rem;

  button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 2rem;
  }
}

.apiList {
  display: flex;
  align-items: end;
  gap: 1rem;
  flex-direction: column;
  padding: 2rem;

  .apiItem {
    display: flex;
    gap: 1rem;

    p-inputnumber {
      width: 3rem;
    }
    input {
      width: 10rem;
    }
  }
}
