<nav>
  <div class="nav-links">
    <p-button severity="secondary" label="Main" (click)="redirectTo('/main')" />

    <p-button
      label="Creazione Profilo"
      severity="contrast"
      (click)="redirectTo('/profile')"
    />

    <p-button
      label="Creazione Profilo da profilo predefinito"
      severity="contrast"
      (click)="redirectTo('/profilePredefined')"
    />

    <p-button
      label="Permessi Profili"
      severity="contrast"
      (click)="redirectTo('/profilePermissions')"
    />

    <p-button label="Notes" severity="info" (click)="redirectTo('/notes')" />

    <p-button
      label="Attachments"
      severity="info"
      (click)="redirectTo('/attachments')"
    />
  </div>

  <p-button severity="danger" (click)="logout()" label="Logout" />
</nav>
