.wrapper {
  display: flex;
  flex-direction: column;
}

.apiItem {
  display: flex;
  align-items: center;
  gap: 1rem;
}

form {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 4fr));
  justify-content: space-between;
  justify-items: center;
  align-content: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;

  .formItem {
    width: 100%;
  }

  .input {
    width: 100%;
  }
}

form {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 4fr));
  justify-content: space-between;
  justify-items: center;
  align-content: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;

  .formItem {
    width: 100%;
  }

  .input {
    width: 100%;
  }
}
