<div class="wrapper">
  @if (resultJson) {
  <pre>{{ resultJson | json }}</pre>
  <p-divider />
  }

  <div class="apiItem">
    <h3>Get Profilo by Document Type</h3>
    <input type="text" pInputText [formControl]="profileDocType" />
    <p-button label="GET" (click)="getProfile()" />
  </div>

  @if (profileForm) {
  <p-divider />

  <div class="profileForm">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      @for (item of this.profileData().fields; track $index) {
      @if(item.required){
      <div class="formItem">
        @switch (getInputType(item.className)) { @case ('number') {

        <p-iftalabel>
          <p-inputnumber
            class="input"
            [id]="item.name"
            [formControlName]="item.name!"
          />
          <label [for]="item.name">
            {{ item.description }} ({{ item.className }})
          </label>
        </p-iftalabel>

        } @case ('text') {
        <p-iftalabel>
          <input
            class="input"
            [id]="item.name"
            [formControlName]="item.name!"
            pInputText
          />
          <label [for]="item.name">
            {{ item.description }} ({{ item.className }})
          </label>
        </p-iftalabel>

        } @default {
        <p-iftalabel>
          <input
            class="input"
            [id]="item.name"
            [formControlName]="item.name!"
            pInputText
          />
          <label [for]="item.name">
            {{ item.description }} {{ item.className }}
          </label>
        </p-iftalabel>
        } }
      </div>
      } }

      <div class="apiItem">
        <app-insert (bufferArray)="inserfBuffer($event)"></app-insert>
      </div>

      <p-button severity="success" label="Create Profile" type="submit" />
    </form>
  </div>
  }
</div>
